[Unit]
Description=IperfServer
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/iperfserver.sh

[Install]
WantedBy=multi-user.target

